<!doctype html>
<html lang="en">
<head>
    <%-include('components/head.ejs', {title:title, path:path}) %>
</head>
<body>
<%-include('components/header.ejs') %>
<main class="d-flex flex-column" style="text-align: center; margin: auto;">
    <div class="box card-img-top" style="width: 240px!important; height: 240px!important; margin: 50px auto 20px auto;">
        <img src="/images/logo.png" alt="소소식탁" class="box-img d-inline-block align-text-top">
    </div>
    <h3 class="card-title">메인 페이지입니다</h3>
</main>
<%-include('components/footer.ejs') %>
</body>
</html>