<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <script>
        function login() {
            // MARK: axios를 통한 post요청 처리
            axios.post( '/main', { id: document.getElementById('id').value } )
                .then((response) => { location.href = '/main' })
                .catch((error) => { console.error(error); });
        }
    </script>
</head>
<body>
<main class="d-flex flex-column" style="text-align: center; margin: auto;">
    <h1 class="font-weight-light" style="margin: auto auto 0 auto;">Sample webapp by Express.js</h1>
    <div class="input-group" style="margin: 20px auto auto auto; padding: 50px; ">
        <input id="id" type="text" class="form-control" placeholder="닉네임을 입력해주세요">
        <input type="button" class="btn btn-outline-secondary" onclick="login()" value="로그인">
    </div>
</main>
<%- include('./components/footer.ejs') %>
</body>
</html>