<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
    <style>
        .btn {
            margin: 20px;
        }
    </style>
</head>
<body>
<%- include('./components/header.ejs') %>
<main class="d-flex flex-column" style="text-align: center; margin: auto;">
    <h1 class="font-weight-light" style="margin: 20px"><%=id %> 님 안녕하세요.</h1>
    <input class="btn btn-primary" type="button" value="감자" onclick="location.href='/content/potato'">
    <input class="btn btn-primary" type="button" value="두부" onclick="location.href='/content/tofu'">
    <input class="btn btn-primary" type="button" value="사과" onclick="location.href='/content/apple'">
    <input class="btn btn-primary" type="button" value="로그아웃" onclick="location.href='/logout'">
</main>
<%- include('./components/footer.ejs') %>
</body>
</html>